@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus {
  outline: none !important;
}

@media screen and (max-width: 640px) {
  .nav_logo {
    display: flex;
    justify-content: center;
  }
}
