@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none !important;
}

input:focus {
  background-color: #ffff !important;
}

.loading_page {
  background-color: rgba(105, 105, 105, 0.541) !important;
  height: 89vh !important;
  width: 100% !important;
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide spinners in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 500px) {
  .updatetodoDivempty {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .nav_logo {
    display: flex;
    justify-content: center;
  }
}
